* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background: #1a226b;
  margin: 0;
  height: 100%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 600px;
  padding: 26px 45px;
  color: #787878;
  font-weight: 700;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
}
.form__header {
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}
.form__elem {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 12px;
}
.form__checkbox-wrapper {
  display: flex;
  align-items: center;
  padding: 2px 0;
}
.form__btn {
  width: 180px;
  background-color: #1a226b;
  padding: 18px;
  text-align: center;
  font-size: 24px;
  line-height: 16px;
  font-weight: bold;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 50px;
}
.form__btn:hover {
  background: #4e58b5;
}
.form__btn:focus {
  background: #080e46;
}
.input {
  box-sizing: border-box;
  border: 2px solid #787878;
  background: #fff;
  font-weight: inherit;
  color: #787878;
}
.input::placeholder {
  font-size: 28px;
  color: #ccc;
}
.input-type-text {
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 28px;
  line-height: 36px;
}
.input-type-checkbox {
  width: 24px;
  height: 24px;
  border-radius: 7px;
  cursor: pointer;
}
.input-type-checkbox svg rect {
  fill: none;
  stroke: #1a226b;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 80px;
  stroke-dashoffset: 80px;
  transition: all 0.3s ease;
}
.input-type-checkbox svg polyline {
  fill: none;
  stroke: #fff;
  stroke-width: 3.14;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;
  transition: all 0.3s ease;
}
input[type="checkbox"]:focus-visible + .input-type-checkbox svg rect {
  stroke-dashoffset: 0;
}
input[type="checkbox"]:checked + .input-type-checkbox::before {
  border-color: #1a226b;
}
input[type="checkbox"]:checked + .input-type-checkbox svg rect {
  fill: #1a226b;
}
input[type="checkbox"]:checked + .input-type-checkbox svg polyline {
  stroke-dashoffset: 0;
}
.input__label::before {
  content: "";
  font-size: 16px;
}
.input__label-text {
  padding-left: 8px;
}
.input__label-cbx {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}
.input__label-cbx span {
  padding: 0 10px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0;
}
@media (max-width: 769px) and (min-width: 320px) {
  .container {
    align-items: unset;
    justify-content: unset;
    padding: 20px;
    height: 100%;
  }
  .form {
    width: 100%;
    height: calc(100% - 40px);
    min-width: 280px;
    overflow-y: scroll;
  }
  .form__header {
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 50px;
  }
  .form__checkbox-wrapper {
    padding: 4px 0;
    font-size: 18px;
  }
  .form__btn {
    padding: 32px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 16px;
  }
  .input-type-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
  }
  input[type="checkbox"]:checked + .input-type-checkbox::before {
    content: "";
    border-color: #1a226b;
    background-color: #1a226b;
  }
  .input__label-text {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 16px;
  }
  .input__label-cbx {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 16px;
  }
}
